<nb-card>
  <nb-card-header>Invoices</nb-card-header>  
  <nb-card-body>
      <div class="table-responsive">
      <table class="table table-striped" [mfData]="invoiceDetails" #mf="mfDataTable" [mfRowsOnPage]="10">
          <thead>
            <tr>
              <th style="width: 12.5%">
                <mfDefaultSorter by="CustomerID">Customer</mfDefaultSorter>
              </th>
              <th style="width: 12.5%">
                <mfDefaultSorter by="Owner">Owner</mfDefaultSorter>
              </th>
              <th style="width: 12.5%">
                <mfDefaultSorter by="Type">Type</mfDefaultSorter>
              </th>
              <th style="width: 12.5%">
                <mfDefaultSorter by="Number">Number</mfDefaultSorter>
              </th>
              <th style="width: 12.5%">
                <mfDefaultSorter by="Date">Date</mfDefaultSorter>
              </th>
              <th style="width: 12.5%">
                <mfDefaultSorter by="TotalExcludingVatAmount">Total Excluding Vat Amount</mfDefaultSorter>
              </th>   
              <th style="width: 12.5%">
                <mfDefaultSorter by="Status">Status</mfDefaultSorter>
              </th>              
              <th style="width: 12.5%"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of mf.data; let i=index;">
                <td>{{item.Customer.Name}}</td>                
                <td>{{item.Owner}}</td> 
                <td>{{item.Type}}</td>
                <td>{{item.Number}}</td>               
                <td>{{item.Date}}</td>
                <td>{{item.TotalExcludingVatAmount}}</td>   
                <td>{{item.Status}}</td>                           
                <td><a href="#">Edit</a></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="8">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
        </table>
        </div>
    </nb-card-body>
</nb-card>