<nb-card>
    <nb-card-header>Operators</nb-card-header>
    <nb-card-body>
        <!-- <table id="operatorTable" class="table table-hover dataTable no-footer">
            <thead>
                <tr role="row">
                    <th>Name</th>
                    <th>Parent</th>
                    <th>Status </th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody id="tbody">
                <tr *ngFor="let opratorData of operatorsDetails">
                    <td>{{opratorData.Name}}</td>
                    <td>{{opratorData.ParentName}}</td>
                    <td>{{opratorData.Status}}</td>
                    <td><a href="#" class="pull-right">Edit</a></td>
                </tr>
            </tbody>
        </table> -->

        <table class="table table-striped" [mfData]="operatorsDetails" #mf="mfDataTable" [mfRowsOnPage]="10">
                <thead>
                  <tr>
                    <th style="width: 25%">
                      <mfDefaultSorter by="Name">Name</mfDefaultSorter>
                    </th>
                    <th style="width: 25%">
                      <mfDefaultSorter by="Parent">Parent</mfDefaultSorter>
                    </th>
                    <th style="width: 25%">
                      <mfDefaultSorter by="Status">Status</mfDefaultSorter>
                    </th>
                    <th style="width: 25%">
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of mf.data; let i=index;">
                      <td>{{item.Name}}</td>
                      <td>{{item.Parent}}</td>
                      <td>{{item.Status}}</td>          
                      <td><a href="#" class="pull-right">Edit</a></td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="4">
                      <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                    </td>
                  </tr>
                </tfoot>
        </table>


    </nb-card-body>
</nb-card>