<div class="row">
  <div class="col-md-12">
    <nb-card>


      <nb-card-header>Edit Account</nb-card-header>
      <nb-card-body>
        <form [formGroup]="UpdateForm" (ngSubmit)="updateUser()" id="register-form" role="form" >
          <div class="row">
            <div class="col-md-8 offset-md-2 col-sm-10 offset-md-2">
              <div class="form-group">
                <input type="text" name="LinkedEntityID" id="LinkedEntityID" tabindex="1" class="form-control" placeholder="Linked Entity ID"
                  formControlName="LinkedEntityID" [(ngModel)]="userData.LinkedEntityID">
                <!-- <p *ngIf="!UpdateForm.controls.LinkedEntityID.valid  && UpdateForm.controls.LinkedEntityID.dirty" class="danger">*Please enter a valid firstname.</p> -->
              </div>
              <div class="form-group">
                <input type="text" name="GivenName" id="GivenName" tabindex="1" class="form-control" placeholder="Given Name"
                  formControlName="GivenName" [(ngModel)]="userData.GivenName">
                <!-- <p *ngIf="!UpdateForm.controls.LinkedEntityID.valid  && UpdateForm.controls.LinkedEntityID.dirty" class="danger">*Please enter a valid firstname.</p> -->
              </div>
              <div class="form-group">
                <input type="text" name="Insertion" id="Insertion" tabindex="1" class="form-control" placeholder="Insertion"
                  formControlName="Insertion" [(ngModel)]="userData.Insertion">
                <!-- <p *ngIf="!UpdateForm.controls.LinkedEntityID.valid  && UpdateForm.controls.LinkedEntityID.dirty" class="danger">*Please enter a valid firstname.</p> -->
              </div>
              <div class="form-group">
                <input type="text" name="FamilyName" id="FamilyName" tabindex="1" class="form-control" placeholder="Family Name"
                  formControlName="FamilyName" [(ngModel)]="userData.FamilyName">
                <!-- <p *ngIf="!UpdateForm.controls.LinkedEntityID.valid  && UpdateForm.controls.LinkedEntityID.dirty" class="danger">*Please enter a valid firstname.</p> -->
              </div>
              <div class="form-group">
                <input type="text" name="IetfLanguageTag" id="IetfLanguageTag" tabindex="1" class="form-control" placeholder="Ietf Language Tag"
                  formControlName="IetfLanguageTag" [(ngModel)]="userData.IetfLanguageTag">
                <!-- <p *ngIf="!UpdateForm.controls.LinkedEntityID.valid  && UpdateForm.controls.LinkedEntityID.dirty" class="danger">*Please enter a valid firstname.</p> -->
              </div>
              <div class="form-group">
                <input type="text" name="Notes" id="Notes" tabindex="1" class="form-control" placeholder="Notes"
                  formControlName="Notes" [(ngModel)]="userData.Notes">
                <!-- <p *ngIf="!UpdateForm.controls.LinkedEntityID.valid  && UpdateForm.controls.LinkedEntityID.dirty" class="danger">*Please enter a valid firstname.</p> -->
              </div>
              <div class="form-group">
                <input type="text" name="EmailAddress" id="EmailAddress" tabindex="1" class="form-control" placeholder="Email Address"
                  formControlName="EmailAddress" [(ngModel)]="userData.EmailAddress">
                <!-- <p *ngIf="!UpdateForm.controls.LinkedEntityID.valid  && UpdateForm.controls.LinkedEntityID.dirty" class="danger">*Please enter a valid firstname.</p> -->
              </div>
              <div class="form-group">
                <input type="password" name="Password" id="Password" tabindex="2" class="form-control" placeholder="Password" formControlName="Password"
                  [(ngModel)]="userData.Password">
              </div>
              <div class="form-group">
                <input type="password" name="ConfirmedPassword" id="ConfirmedPassword" tabindex="2" class="form-control" placeholder="Confirm Password"
                  formControlName="ConfirmedPassword" [(ngModel)]="userData.ConfirmedPassword">
              </div>

              <div class="form-group text-center">
                <div class="row ">
                  <div class="col-sm-12">
                    <button type="submit " name="register-submit " id="register-submit" tabindex="4 " class="btn btn-primary" [disabled]="!UpdateForm.valid">Update User</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </form>

        <!-- <form [formGroup]="UpdateForm" (ngSubmit)="register()" id="register-form" role="form">
            <div class="row">
              <div class="col-md-12">
                    <div class="form-group row" ng-repeat="item in items">
                      <label for="linkedEntityName" class="col-sm-3 col-form-label">Linked Entity Name</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="userData.LinkedEntityID" id="linkedEntityName" placeholder="Linked Entity Name">                        
                      </div>
                    </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-12">              
                    <div class="form-group row">
                      <label for="type" class="col-sm-3 col-form-label">Type</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="userData.type" id="type" placeholder="Type">
                      </div>
                    </div>
              </div>            
            </div>
            
            <div class="row">
                <div class="col-md-12">
                      <div class="form-group row">
                        <label for="givenName" class="col-sm-3 col-form-label">Given Name</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" ng-model="userData.GivenName" id="givenName" placeholder="Given Name">
                        </div>
                      </div>
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-12">              
                      <div class="form-group row">
                        <label for="insertion" class="col-sm-3 col-form-label">Insertion</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" ng-model="userData.Insertion" id="insertion" placeholder="Insertion">
                        </div>
                      </div>
                </div>            
            </div>

            <div class="row">
                  <div class="col-md-12">
                        <div class="form-group row">
                          <label for="familyName" class="col-sm-3 col-form-label">Family Name</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" ng-model="userData.FamilyName" id="inputEmail1" placeholder="familyName">
                          </div>
                        </div>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-md-12">              
                        <div class="form-group row">
                          <label for="inputEmail" class="col-sm-3 col-form-label">Email Address</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputEmail" ng-model="userData.EmailAddress" placeholder="Email Address">
                          </div>
                        </div>
                  </div>            
                </div>

                <div class="row">
                    <div class="col-md-12">
                          <div class="form-group row">
                            <label for="culture" class="col-sm-3 col-form-label">Culture</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" id="culture" ng-model="userData.culture" placeholder="Culture">
                            </div>
                          </div>
                    </div>
                  </div>
                  
                  <div class="row">
                          <div class="col-md-12">              
                          <div class="form-group row">
                            <label for="password" class="col-sm-3 col-form-label">Password</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" id="password" ng-model="userData.Password" placeholder="Password">
                            </div>
                          </div>
                    </div>            
                  </div>

                  <div class="row">
                      <div class="col-md-12">
                            <div class="form-group row">
                              <label for="confirmedPassword" class="col-sm-3 col-form-label">Confirmed Password</label>
                              <div class="col-sm-9">
                                <input type="text" class="form-control" id="confirmedPassword" ng-model="userData.ConfirmedPassword" placeholder="confirmedPassword">
                              </div>
                            </div>
                      </div>
                  </div>
                  
                  <div class="row">
                          <div class="col-md-12">              
                            <div class="form-group row">
                              <label for="notes" class="col-sm-3 col-form-label">Notes</label>
                              <div class="col-sm-9">
                                <input type="text" class="form-control" id="notes" ng-model="userData.Notes" placeholder="Notes">
                              </div>
                            </div>
                      </div>            
                  </div>
                    
                    <div class="row">
                        <div class="col-md-12 text-right">
                           
                              <p>Load data {{getData}}</p>
                            <p>Send data {{postData}}</p> 
                            <input type="submit" class="btn btn-primary" (click) ="submitUserData()" name="submit" id="userSubmit" value="Update User">
                            <input type="submit" class="btn btn-primary" (click) ="loadUserData()" name="submit" id="userLoad" value="Load User">
                            
                        </div>

                     
                  </div>
                
        </form> -->


      </nb-card-body>
    </nb-card>
  </div>
</div>