<nb-card>
  <nb-card-header>Customers</nb-card-header>
  <nb-card-body>
    <!-- <table datatable id="customersTable">
      <thead>
        <tr role="row">
          <th>Name</th>
          <th>Parent</th>
          <th>CocNumber</th>
          <th>Status</th>
          <th>&nbsp;</th>
      </thead>
      <tbody>
        <tr *ngFor="let customerData of customerDetails">
          <td>{{customerData.Name}}</td>
          <td>{{customerData.ParentID}}</td>
          <td>{{customerData.CocNumber}}</td>
          <td>{{customerData.Status}}</td>
          <td><a href="#">Edit</a></td>
        </tr>
      </tbody>
    </table> -->

    <table class="table table-striped" [mfData]="customerDetails" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
          <tr>
            <th style="width: 40%">
              <mfDefaultSorter by="Name">Name</mfDefaultSorter>
            </th>
            <th style="width: 20%">
              <mfDefaultSorter by="ParentID">ParentID</mfDefaultSorter>
            </th>
            <th style="width: 15%">
                <mfDefaultSorter by="CocNumber">Coc Number</mfDefaultSorter>
              </th>              
            <th style="width: 15%">
              <mfDefaultSorter by="Status">Status</mfDefaultSorter>
            </th>
            <th style="width: 10%"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of mf.data; let i=index;">
              <td>{{item.Name}}</td>
              <td>{{item.ParentID}}</td>
              <td>{{item.CocNumber}}</td>
              <td>{{item.Status}}</td>      
              <td><a href="#">Edit</a></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
  </nb-card-body>
</nb-card>